{% extends "base_template.html" %}
{% block title %}Productos{% endblock %}

{% block content %}
<header>
        <nav>
                <a  href=""><button>Registrar nuevo cliente</button></a>    
                <a  href="{{ url_for("main") }}"><button>Volver</button></a>
        </nav>
</header>
<main>
        <table>
        <tr>
                <th>ID</th>
                <th>PRODUCTO</th>
                <th>PRECIO</th>
                <th>STATUS</th>  
                <th>ACCIONES</th>
        </tr>
        {% for pr in data %}
        <tr> 
                <td>{{ pr[0] }}</td>
                <td>{{ pr[1] }}</td>
                <td>{{ pr[2] }}</td>
                <td>{{ pr[3] }}</td>
                <td><a href=""><button>editar</button></a> | <a href=""><button>Borrar</button><a>
        </tr>
        {% endfor %}
        </table>
</main>
{%  endblock %}
