{% extends "base_template.html" %}
{% block title %}Registrar{% endblock %}

{% block content %}
<main>
        <div>
                <h1>Registrar a tu cliente</h1>
        <div>
                <form action="/clientes/form" method="post">
                <label>Nombre:
                        <input type="text" name="nombre"/>
                </label>
                <label>Correo:
                        <input type="text" name="correo"/>
                </label>
                <label>Telefono:
                        <input type="text" name="telefono"/>
                </label>
                <button type="submit">Registrar</button>
                </form>
        </div>
        </div>
</main>
{% endblock %}
