* {
margin:0;
padding:0;
}

.hindex {
display:flex;
justify-content:center;
}

.mindex {
width:100%;
height:100%;
}

sidebar{
display:flex;
justify-content:space-around;
text-align:center;
height:100%;
width:100%;
}
